---
layout: layouts/gallery.njk
title: Aurora and Nightscapes Gallery - Clancy Malcolm Photography
description: Australian Aurora Australis moments.
permalink: "/galleries/aurora/index.html"
featured_image: /galleries/images/aurora/DSC00166-Cape-Schanck-Lighthouse-Milky-Way-Pano.jpg
---
